.wrapper
  .banner
    .banner__title BÔNUS #[br] #[span DE BOAS-VINDAS]
    .banner__info
      .banner__info-top.banner__info-item
        .in 1500 BRL
        .bonus
          .bonus__top 1500 BRL
          .bonus__bottom de depósito
        .in 1500 BRL
        .in 1500 BRL
        .in 1500 BRL
      .banner__info-bottom.banner__info-item
        .in 300 BRL
        .in 300 BRL
        .bonus
          .bonus__top 300 BRL
          .bonus__bottom sem risco
        .in 300 BRL

